*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
   background-color: #838789;
    height: 100vh;
}

.navbar {
    height: 70px;
   
}

.shadow{
    height: 15px;
    background:
    linear-gradient(180deg, #505a5f, transparent 50%) bottom;
    background-size: 100% 15px;
}

header .container{
    font-family:roboto, sans-serif;
    font-size: 15px;
    max-width: 1360px;
}

.navbar img{
    width: 70px;
}

.nav-item{
    margin-left: 10px;
}

.nav-item2 a::before{
    content: '|';
    margin-right: 35px;
    margin-left: 25px;
}
main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75vh;
}

main .container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    width: 700px;
    height: 350px;
    max-width: 90%;
    background-color: white; 
    border-radius: 35px;
}
section img.upload_image {
    width:70%;
}
section.img a {
    margin-top: 30px;
    text-align: center;
    font-size:16px;
    color: #263238
}
section a:hover{
    text-decoration: none;
    color:#446577;
}

section {
    width:50%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

section .form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: roboto, sans-serif;
    /* width: 500px;
    height: 60%; */
}

section h1 {
    color:#7CB13E;
    font-weight: 550;
    font-size: 2.5rem;
}
.escolha {
    width: 100%;
}
button.cliente{
    color: white;
    background-color: #263238;
    border: none;
    border-radius: 10px 0 0 10px;
    margin-right:-2px;
    width:50%;
    /* height:30px; */
}
button.empresa{
    color: #263238;
    background-color: rgba(205, 216, 187, 0.6);
    border: none;
    margin-left:-2px;
    border-radius:0 10px 10px 0;
    width:50%;
    /* height:30px; */
    
}

section form {
   display: flex;
   flex-direction: column;
}

form input {
    
    border-radius: 10px;
    background-color: rgba(205, 216, 187, 0.6);
    border:none;
    padding: 6px;
    height:35px;
    
}
input.nome{
    margin-top: 10px;
}
input.email{
    margin: 10px 0;
}
input.senha-confirm{
    margin: 10px 0;
}

::-webkit-input-placeholder {
    color: rgba(38, 50, 56, 0.35);
 }

form input:focus{
    outline: none;
    border-radius:10px;border:1px solid rgba(38, 50, 56, 0.45);
}
section p{
    margin-bottom: 2px;
    font-size:.8rem;
}

form button {
    align-self: center;
    background-color:#7CB13E;
    color:white;
    border:none;
    border-radius:10px;
    height: 30px;
    width: 290px;
    margin-top: 5px;
    
}

form button:focus{
    outline: none;
    border-radius:10px;border:1px solid #547a27;
}

footer{
    height: 30px;
    width:100%;
    background-color: #c4c4c4;
    display: flex;
    justify-content:space-around;
    position: fixed;
    padding: 5px ;
    height: 35px;
    bottom: 0;
    
}

footer  p{
    text-align: center;
    color:#505a5f
}

footer  i{
    text-align: center;
    margin-left: 25px;;
    font-size: 16px;
    color:#263238;
}
.fa-envelope:before {
    margin-right: 6px;
}
.fa-instagram-square:before {
    margin-right: 6px;
}
.fa-twitter-square:before {
    margin-right: 6px;
}
.fa-facebook:before {
    margin-right: 6px;
}

@media (max-width: 700px) {
    section img.upload_image {
        max-height: 90%;
     }
    
     section form {
        width:80%;
     } 
     form button {
        width: 100%;
    }

}

@media (max-width: 576px) { 
     {
        max-height: 20%;
     }
}

@media (max-width: 576px) { 
    section img.upload_image {
        display: none;
     }
     section.img {
        display: none;
    }
    section{
        width: 80%;
    }
      section form {
        width:100%;
     }  
     form button {
        width: 100%;
    } 
    

/*  */


}




